@model WebDocTruyenOnline.Models.Story

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Chi tiết truyện @Model.Name
}


<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                thông tin chi tiết
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Author.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Author.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StoryCategory.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StoryCategory.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StoryType.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StoryType.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Descirption)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descirption)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Image)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Image)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Views)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Views)
                            </dd>

                        </dl>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
