@model WebDocTruyenOnline.Models.ChapStory

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Chi tiết truyện @Html.DisplayNameFor(model => model.Story.Name)
}

<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                thông tin chi tiết
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Story.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Story.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Chap)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Chap)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MetaTitle)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MetaTitle)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Content)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Content)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreateBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>

                        </dl>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                        <div>
                            <h4>ChapStory</h4>
                            <hr />
                            
                        </div>
               <p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
